<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recovery password
  body
    div 
      div Recovery password
      p To change your password go to
      a(href=recoveryLink) link

    footer
      div 2021
    