<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    div 
      div Welcome to mymoney accounting system
      p To confirm your email go to 
      a(href=confirmLink) link

    footer
      div 2021
    