PORT=4000
FIXER_API_KEY=
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://hitman:password@localhost:5432/mymoney
SALT=0000
JWT_SECRET=SECRET
MAX_QUERY_COMPLEXITY=32

MAIL_USER=
MAIL_CLIENT_ID=
MAIL_SECRET=
MAIL_TOKEN=
MAIL_REFRESH_TOKEN=
